/* Main styling */

:root {
    --primary-color: #fbac18;
    --primary-color-dark: #f58118;
    --secondary-color: #50C5D2;
    --secondary-color-dark: #048a96;
    --tint: #eeeeee;
    --tint-dark: #707070;
    --background: white;
}

* {
    box-sizing: border-box;
    font-family: Jost;
}

body {
    margin: 0;
}

/* General styling */

.active {
    color: var(--primary-color-dark);
}

a {
    color: var(--tint-dark);
    text-decoration: none;
}

/* PAGE SECTIONS - (exists out of multiple sub-sections.)*/

main {
    margin-left: 200px;
    overflow: auto;
    text-align: center;
}

main > * {
    display: inline-block;
}

/* Sidebar */

.sidebar {
    position: absolute;
    width: 260px;
    height: 100vh;
    padding: 10px;
    background-color: var(--tint);
}

.sidebar > * {
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 0 10px;
    background-color: var(--background);
}

.sidebar > .logoContainer {
    display: flex;
    align-items: center;
}

.sidebar > .logoContainer > img {
    margin-right: 10px;
}

.sidebar > .logoContainer > div > * {
    display: block;
    width: 100%;
    font-weight: 600;
    color: var(--tint-dark);
}

.sidebar > .logoContainer > div > span:nth-child(1) {
    margin-bottom: -6px;
    color: var(--secondary-color-dark);
}

.sidebar > nav img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: var(--tint-dark);
}

.sidebar > nav > *:hover > img {
    background-color: var(--primary-color);
}

.sidebar > nav > *:hover > a {
    color: var(--primary-color);
}

.sidebar > nav img.active {
    background-color: var(--primary-color-dark);
}

.sidebar > nav a.active {
    color: var(--primary-color-dark);
}

.sidebar > nav > * {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--tint);
}

.sidebar > nav > *:last-child {
    border-bottom: none;
}