/* Main styling */

:root {
    --primary-color: #fbac18;
    --primary-color-dark: #f58118;
    --secondary-color: #50C5D2;
    --secondary-color-dark: #048a96;
    --tint: #eeeeee;
    --tint-dark: #707070;
    --background: white;
}

* {
    box-sizing: border-box;
    font-family: Jost;
}

body {
    margin: 0;
}

/* General styling */

.active {
    color: var(--primary-color-dark);
}

a {
    color: var(--tint-dark);
    text-decoration: none;
}

/* PAGE SECTIONS - (exists out of multiple sub-sections.)*/

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 260px;
    padding: 20px 80px;
}

main > * {
    width: 100%;
    margin-bottom: 40px;
}

/* Sidebar */

.sidebar {
    position: absolute;
    width: 260px;
    height: 100vh;
    padding: 10px;
    background-color: var(--tint);
}

.sidebar > * {
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 10px;
    background-color: var(--background);
}

.sidebar > .logoContainer {
    display: flex;
    align-items: center;
}

.sidebar > .logoContainer > img {
    width: 80px;
    margin-right: 10px;
}

.sidebar > .logoContainer > div > * {
    display: block;
    width: 100%;
    font-weight: 600;
    color: var(--tint-dark);
}

.sidebar > .logoContainer > div > span:nth-child(1) {
    margin-bottom: -6px;
    color: var(--secondary-color-dark);
}

.sidebar > nav img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: var(--tint-dark);
}

.sidebar > nav > *:hover > img {
    background-color: var(--primary-color);
}

.sidebar > nav > *:hover > a {
    color: var(--primary-color);
}

.sidebar > nav img.active {
    background-color: var(--primary-color-dark);
}

.sidebar > nav a.active {
    color: var(--primary-color-dark);
}

.sidebar > nav > * {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--tint);
}

.sidebar > nav > *:last-child {
    border-bottom: none;
}
.notifications *{
    background-color: #eeeeee;
    color: red;
   width: 1400px;
   margin-top: 20px;
   text-align: left;
   border-radius: 10%;
   display: inline-block;
}
.notificationImage{
    width: 70px;
    height: 70px;
}
.content{
    padding-left: 20px;
}
.notificationText{
    width: 400px;
}

/* PAGES */

/* Overzicht */
main section.miniOverview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main section.miniOverview > * {
    height: 200px;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    color: var(--primary-color-dark);
}

main section.miniOverview section > * {
    margin: 0;
}

main section.miniOverview > *:last-child {
    margin-right: 0;
}

main section.miniOverview > * > h1 {
    margin-bottom: -4px;
}

main section.miniOverview > .prestaties {
    flex-grow: 3;
}

main section.miniOverview > .voortgang {
    flex-grow: 1;
}

main section.miniOverview > .huidigVerbruik {
    flex-grow: 2;
}
/* 6 */