:root {
    --primary-color: #fbac18;
    --primary-color-dark: #f58118;
    --secondary-color: #50C5D2;
    --secondary-color-dark: #048a96;
    --tint: #eeeeee;
    --tint-dark: #707070;
}


body {
    margin: 0;
}

.active {
    color: red;
}

.sidebar {
    position: absolute;
    width: 260px;
    height: 100vh;
    background-color: lightgray;
}

main {
    margin-left: 200px;
    overflow: auto;
    text-align: center;
}

main > * {
    display: inline-block;
}